// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #00b386;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu-icon {
	width: 65px;
	cursor: pointer;
	
	div {
		width: 100%;
		height: 6px;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	}
	
	.line-one {
		animation: line-one-rotate-rev .7s ease-in-out;
	}
	
	.line-two {
		margin: 8px 0;
		animation: line-two-rotate-rev .7s ease-in-out;
	}
	
	.line-three {
		animation: line-three-rotate-rev .7s ease-in-out;
	}
	
	&.active {
		.line-one {
			animation: line-one-rotate .7s forwards;
		}
		.line-two {
			animation: line-two-rotate .7s forwards;
		}
		
		.line-three {
			animation: line-three-rotate .7s forwards;
		}
	}
}

.no-animation {
	-webkit-animation: none !important;
          animation: none !important; 
}

@keyframes line-one-rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: translateY(6px) rotate(0deg);
	}
	100% {
		transform: translateY(6px) rotate(45deg);
	}
}

@keyframes line-two-rotate {
  0% {
    opacity: 1;
  }
  100% {
		margin: 0;
    opacity: 0;
  }
}

@keyframes line-three-rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: translateY(-6px) rotate(0deg);
	}
	100% {
		transform: translateY(-6px) rotate(-45deg);
	}
}

@keyframes line-one-rotate-rev {
	0% {
		transform: translateY(6px) rotate(-45deg);
	}
	50% {
		transform: translateY(6px) rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes line-two-rotate-rev {
  0% {
		margin: 0;
    opacity: 0;
  }
	50% {
		margin: 0;
		opacity: 0;
	}
  100% {
    opacity: 1;
  }
}

@keyframes line-three-rotate-rev {
	0% {
		transform: translateY(-6px)  rotate(45deg);
	}
	50% {
		transform: translateY(-6px)  rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
